<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.5/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/flip.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="RadicalApp" ng-controller="radicalFilter">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Radicals <a class="reset" href="" ng-click="reset()">reset</a></h2>
            <ul class="radicals">
                <li class="rad" ng-repeat="radical in radicals" ng-click="toggleFilter(radical.ch)" ng-class="heatmapClass(radical.ch)">
                    <a href="" ng-class="radicalClass(radical.ch)">
                        {{radical.ch}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row characters">
                <div class="col-sm-3 charcol" ng-repeat="character in characters | filter:filterCharacters">
                    <div class="flip-container" ng-click="flipCard(character.ch)">
                        <div class="flipper">
                            <div class="char front">
                                <!-- front content -->
                                <span class="text">{{character.ch}}</span>
                                <ul class="rads">
                                    <li ng-repeat="radical in character.r">
                                        <a href="" ng-class="radicalClass(radical)">{{radical}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="char back">
                                <!-- back content -->
                                <span class="text">{{character.ch}}</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var exports = {};
</script>
<script type="text/javascript" src="data/radicalList.js"></script>
<script type="text/javascript" src="data/characterList.js"></script>
<script type="text/javascript">

angular.module('RadicalApp.controllers', []).controller('radicalFilter',function($scope){
    $scope.radicals = exports.radicalList;
    $scope.characters = exports.characterList;
    var filters = {};
    for (var i = 0; i < exports.radicalList.length; i++) {
        filters[exports.radicalList[i].ch] = false;
    }
    $scope.filters = filters;

    $scope.reset = function(){
        for (var i = 0; i < exports.radicalList.length; i++) {
            filters[exports.radicalList[i].ch] = false;
        }
    }

    $scope.toggleFilter = function(radical){
        filters[radical] = !filters[radical];
    }

    $scope.filterCharacters = function(character) {
        for (var i = 0; i < character.r.length; i++) {
            if ($scope.filters[character.r[i]] != true) {
                return false;
            }
        }
        return true;
    }

    $scope.flipCard = function() {

    }

    var radicalMap = {};
    for (var i = 0; i < $scope.radicals.length; i++) {
        radicalMap[$scope.radicals[i].ch] = $scope.radicals[i];
    }
    $scope.radicalClass = function(ch) {
        var radical = radicalMap[ch];
        var d = {'active': filters[ch] == true};
        for (var i = 1; i <= 10; i++) {
            d['stroke' + i] = i == 10 ? radical.strokes >= i : radical.strokes == i;
        }
        return d;
    }

    // build character by radical map (rad => characters with that radical)
    var characterByRadicalMap = {};
    for (var i = 0; i < $scope.characters.length; i++) {
        var ch = $scope.characters[i];
        for (var r = 0; r < ch.r.length; r++) {
            var rad = ch.r[r];
            if (!characterByRadicalMap[rad]) {
                characterByRadicalMap[rad] = [ch];
            } else {
                characterByRadicalMap[rad].push(ch);
            }
        }

    }
    $scope.heatmapClass = function(radical) {
        // calculate how many characters will be unlocked
        // if we remove this radical from the filtered list
        var count = 0;
        outer: for (var i = 0; i < characterByRadicalMap[radical].length || 0; i++) {
            var ch = characterByRadicalMap[radical][i];
            for (var r = 0; r < ch.r.length; r++) {
                if (!($scope.filters[ch.r[r]] == true || ch.r[r] == radical)) {
                    continue outer;
                }
            }
            count += ch.r[0] != ch.ch ? 1 : 0;
        }
        return {
            'some': count >= 1,
            'many': count >= 2,
        }
    }
});

angular.module('RadicalApp', [
  'RadicalApp.controllers'
]);


</script>
</body>
</html>